#statBlock {

}

.break {
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tab {
    left: 16px;
}
.block {
    background-color:lightgray;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flexContainer {
    display: flex;
}
.sidebar{
    margin-top: 1em;
}
.hidden {
    display: none;
}
.logo {
    width: 100%;
}
.list {

}
.class {

}
.monsterData {
    margin-left: 1em;
}
.statBlock {
    list-style: none;
    margin-left: -2.5em;
}

.break {
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: .8em;
}
