/*flexbox sidebar/image container*/
#flexContainer {
	display:flex;
}
.sidebar {
	margin-top: 1em;
}
.hidden {
	display: none;
}

/*menu*/

.statBlock {
/*.statBlock ul {*/
	list-style: none;
	margin-left: -2.5em;
}
.break {
	text-transform: uppercase;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: .8em;
}
/*.spacer {
	height:5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}*/
#statBlock li {
	list-style:none;
	margin-left: -2.5em;
}

#stats {
	overflow:auto;
	margin-top: 5px;
/*	margin-bottom: 10px*/
}
/*//splitter box*/
#primary {
	height: 99vh;
	margin-left: 10px;
/*	margin-top: 30px;*/
/*	margin-bottom: 50px;*/
}
/*splitter windows, two in this case, menu and info*/
/*no padding or margin*/

	#primary .scrollSpace {
		width: 100%;
		height: 50%;
		float: left;
		
	}
#backstory {
	overflow: auto;
	height: 100%;
	padding-bottom: 2px;
}
#backstory .inner {
	padding-right:10px;
/*	width:300px;*/
}
#stats {
	padding-top: 2px;
	overflow: auto;
}
#stats .inner {
	padding-right: 10px;
/*	padding: 0 5px;*/
}

