/*flexbox sidebar/image container*/
#flexContainer {
    display: flex;
/*    width: 100%;*/
    
}

#sideBar {
    overflow: hidden;
    width: 400px;
    margin-right: 16px;
}
.titleLogo {
    width: 150px;
    margin-left: 16px;
    position: relative;
}

/*//info*/
#stats {
    overflow: auto;
}

/*tables*/
#primary {
    overflow: auto;
    margin-left:1em;
}
#itemChat .inside{
    
}


.table-container{
    height:auto;
/*    width:100%;*/
    overflow:auto;
    border-collapse:collapse;
}
    .table-container table {
        /*	width:100%;*/
        text-align: center;
        column-width: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }
.table-container td{
    border:solid 1px black;
    column-span: all;
/*    column-gap:30px;*/
}
.table-container th{
    border:solid 1px black;
	background-color: #a4b6ef;
    padding-left: 10px;
    padding-right: 10px;
}
.table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}

/*.table-scrollbar {
    column-width:100px;
    overflow-x:scroll;
}*/



.medium-table-container{
    height:auto;
/*    width:400px;*/
    overflow:auto;
}
.medium-table-container td{
    border:solid 1px black;
}
.medium-table-container th{
    border:solid 1px black;
	background-color:#a4b6ef;
}
.medium-table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}
.short-table-container{
    height:auto;
/*	width:300px;*/
    overflow:auto;
}
.short-table-container td{
    border:solid 1px black;
}
.short-table-container th{
	border:solid 1px black;
	background-color:#a4b6ef;
}
.short-table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}
.table-scrollbar{
    border:solid 1px black;
    overflow-x: auto;
    width: fit-content;
    border-collapse: collapse;
}

.ftData{
    text-align:left;
	width:500px;
}

/*description tiles*/
.tile {
    width: 50%;
    border-top:3px black solid;
    border-right:3px black solid;
    border-left: 3px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom:0;
    margin-left:25%;
    position: fixed;
    background-color:lightgray;
    position:fixed;
/*    transition: all 0.4s ease-in-out;*/
}
.insideTile {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
}
.hidden {
    height: 0;
    display: none;
    transition:all 1s ease-in-out;
}
.hidden.open {
    height: auto;
}
/*tile slide up*/

.tileSlideUp {
    animation-name: tileSlideUp;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: normal;
}
/*image contianer*/
.leftImages {
    list-style:none;
}
.leftImages img {
    width: 100px;
    max-height: 100px;
}
.rightImage {
    width: 95%;
    max-height: 95%;
}

@keyframes tileSlideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}