/*the light box*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background-color: blue;*/
}

/*.lightbox {
    position: fixed;
    max-height: 100%;
}*/