/*flexbox sidebar/image container*/
.flexContainer {
	display:flex;
}
.sidebar {
	margin-top: 1em;
}
/*.logo{
    width: 100%;
}*/
#image {
    width: 200px;
    float: left;
    padding-right: 24px;
}
.brake {
    font-size:.8em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    
}

.primary {
	margin-left:1em;
	margin-right: 1em;
}