/*flexbox sidebar/image container*/
.flexContainer {
	display:flex;
}
/*.sidebar {
	margin-top: 1em;
}*/
/*.logo{
    width: 100%;
}*/
#image {
    width: 200px;
    float: left;
    padding-right: 24px;
}
.brake {
    font-size:.8em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    
}

.primary {
	margin-left:1em;
	margin-right: 1em;
}

/*5e*/
.titleLine {
    color: hsl(22, 11%, 55%);
    font-size:1.2em;
}
.infoLine {
    font-style:italic;
}
table {
    width: 100%;
}
table, tr, td, th {
    border: 3px solid black;
    border-collapse:collapse;
}
tr:nth-child(1) {
    background-color:hsl(20,58%,81%);
}
tr:nth-child(2n) {
    background-color:hsl(20, 58%, 81%);
}
td:nth-child(n+1) {
    text-align:center;
}
td:nth-child(1) {
    text-align:left;
}