.sideBar {
    width: fit-content;
    position: relative;
}

.sideBarButtonOutside {
    border: 3px solid black;
    border-radius: 180px;
    width: 20px;
    height: 20px;
}

#sideBarButton {
    border-top: 3px solid black;
    border-right: 3px solid black;
    /*	border-width:3px 3px 3px 0;*/
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-top: 5px;
    transform: rotate(225deg);
}

.edition {
}

/*menus*/
.list {
    list-style: none;
    background-color: lightgray;
    padding: 1em;
    width: fit-content;
    border-radius: 10px;
}

.title {
    font-size: 1.3em;
    width: 7em;
}
.hidden {
    display: none;
}
ul a:link {
    color: black;
}
ul a:hover {
    color: black;
}
ul a:after {
    color: black;
}
ul a:visited {
    color: black;
}