/*flexbox sidebar/image container*/
.flexContainer {
    display: flex;
}

/*sidebar*/
.sideBar {
    width: fit-content;
    margin-top:10px;
}

.sideBarButtonOutside {
    border: 3px solid black;
    border-radius: 180px;
    width: 20px;
    height: 20px;
}

.sideBarButton {
    border-top: 3px solid black;
    border-right: 3px solid black;
    /*	border-width:3px 3px 3px 0;*/
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}

.sideBarButtonClose {
    transform: rotate(45deg);
}

.sideBarButtonOpen {
    transform: rotate(235deg);
}

/*menus*/
.list {
    list-style: none;
    background-color: lightgray;
    padding: 1em;
    width: fit-content;
    border-radius: 10px;
}

.title {
    font-size: 1.3em;
    width: 7em;
}

.hidden {
    display: none;
}

/*logos*/
.description {
    margin-left: 1em;
    margin-right: 1em;
}

/*tables*/
.itemChart {
    margin-left:1em;
}
.table-container{
    height:auto;
    width:100%;
/*    overflow:auto;*/
    border-collapse:collapse;
}
.table-container table{
	width:100%;
    text-align:center;
}
.table-container td{
    border:solid 1px black;
}
.table-container th{
    border:solid 1px black;
	background-color: #a4b6ef;
}
.table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}


.medium-table-container{
    height:auto;
    width:400px;
    overflow:auto;
}
.medium-table-container td{
    border:solid 1px black;
}
.medium-table-container th{
    border:solid 1px black;
	background-color:#a4b6ef;
}
.medium-table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}
.short-table-container{
    height:auto;
	width:300px;
    overflow:auto;
}
.short-table-container td{
    border:solid 1px black;
}
.short-table-container th{
	border:solid 1px black;
	background-color:#a4b6ef;
}
.short-table-container tr:nth-child(even) {
	background-color:#d9d8cd;
}
.table-scrollbar{
    border:solid 1px black;
    overflow-x: auto;
    width: fit-content;
}

.ftData{
    text-align:left;
/*	width:500px;*/
}

/*description tiles*/
.tile {
    width: 50%;
    border:3px black solid;
    bottom:0;
    margin-left:25%;
    position: fixed;
    background-color:lightgray;
}
.insideTile {
    margin-left: 1em;
    margin-right: 1em;
}