header{
    
}

body{
    
}
/*flexbox sidebar/image container*/
.flexContainer {
	display:flex;
}

/*sidebar*/
.sideBar {
	width:fit-content;
	margin-top:10px;
}
.sideBarButtonOutside {
	border:3px solid black;
	border-radius:180px;
	width:20px;
	height: 20px;
}
.sideBarButton {
	border-top: 3px solid black;
	border-right: 3px solid black;
	width: 10px;
	margin-left: 25%;
	margin-top: 25%;
}
/*.sideBarButtonSide{
	border-right: 3px solid black;
	width: 10px;
	margin-left:25%;
	margin-top: 25%;
}*/
.sideBarButtonClose {
	transform: rotate(45deg);
}
.sideBarButtonOpen {
	transform: rotate(235deg);
}
.edition {

}

/*menus*/
.list {
	list-style:none;
	background-color: lightgray;
	padding:1em;
	width:fit-content;
	border-radius:10px;
}

.title {
	font-size: 1.3em;
	width:7em;
}

.hidden {
	display: none;
}

/*character*/
.characterData {
/*	margin-right: auto;*/
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}
.statBlock {
	list-style: none;
	margin-left: -2.5em;
}