
/*flexbox sidebar/image container*/
.flexContainer {
	display:flex;
	margin-top: 10px;
}

/*sidebar*/
.sideBar {
	width:fit-content;
}
.sideBarButtonOutside {
	border:3px solid black;
	border-radius:180px;
	width:20px;
	height: 20px;
}
.sideBarButton {
	border-top: 3px solid black;
	border-right: 3px solid black;
/*	border-width:3px 3px 3px 0;*/
	display: inline-block;
	margin:auto;
	
	
}
.sideBarButtonClose {
	transform: rotate(45deg);
}
.sideBarButtonOpen {
	transform: rotate(235deg);
}
.edition {

}

/*menus*/
.list {
	list-style:none;
	background-color: lightgray;
	padding:1em;
	width:fit-content;
	border-radius:10px;
}

.title {
	font-size: 1.3em;
	width:7em;
}

.hidden {
	display: none;
}

/*logos*/
.description {
	margin-left: 1em;
	margin-right: 1em;
}